*{
    
    padding: 0;
    margin:0;
 text-align:center;

}
html{
    height: 100%;
}
body{
    min-height: 100%;  
   background-color: rgb(0, 0, 0);
    
    
}

#contenedor{
    background-color: maroon;
position: absolute;
right: 37%;
 width: 30%;
height: 50%;
 margin-top:10%;
 border-radius:20px;
}

#contenedor1{
    background-color: maroon;
    position: absolute;
    margin-right: 95%;
     width: 30%;
    height: 50%;
     margin-top:0%;
     border-radius:20px;
     display: none;

}
#contenedor2{
background-color: maroon;
position: absolute;
right: 37%;
 width: 30%;
height: 50%;
 margin-top:10%;
 border-radius:20px;
}



#contenedor #textocontenedor{

color: rgb(0, 0, 0);
position: absolute;
margin-top:10%;
right: 40%;

} 
.header
{   

 
 width: 100%;
 border-radius: 20px;
 margin-top: 0.1%;
 height: 45px;
 background-color: blue;



}

.header li {

    list-style-type: none;
    display: inline-grid;
    margin-top: 0.5%;
    margin-right:1%;
    background-color:rgb(255, 255, 255);
    width: 200px;
    border-radius: 15px;
    right: 40%;

}




.header li a
{
color: rgb(36, 25, 25);
font-size: 150%;
text-decoration: none;
font-family: Helvetica, sans-serif;

}

.header li a:hover
{
color: rgb(12, 146, 170);
}
.header li:hover

{
background: linear-gradient(to right, blue,white);
}
#subseccion5, #subseccion6, #subseccion7, #subseccion8{

    background-color: blanchedalmond;
    font: normal 0.8em arial;
    padding: 0.2em 0.5em;
    width: 90%;
    border-radius: 7px;
    display: none;
    z-index: 0;
}

.a{
    text-align: center;
}

.navbar{
   grid-area: navbar;
   background-color: brown;
   z-index: -2;
    
}
.main
{
    
grid-area: main;
background-color: yellow;
background-image: url("../img/wallhaven-j8532p.jpg");
background-repeat: no-repeat;
background-position:center;
text-align: center;
background-size: 80%;


}

.mision
    {
        background-color: maroon;
        position: absolute;
        margin-right: 95%;
         width: 30%;
        height: 50%;
         margin-top:0%;
         border-radius:20px;
         display: none;
    
    }
    


.sidebar
{
grid-area: sidebar;
background-color:red;
}

.footer {
grid-area: footer;
background-color: seagreen;
}

.grid-container> *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    }



.grid-container{
display: grid;
gap: 5px;
grid-template:
"header" 50px
"navbar" 50px
"main" auto
"sidebar" 50px
"footer"  50px;
}
#imagenlateral{

    margin-right: 90%;
    display: block;
}
#menulateral{

    z-index: 2;
    background-color: rgb(35, 35, 39);
    width: 30%;
    height: 100%;
    display: none;
 
}
  
@media(min-width:150px) and (max-width:599px){
    
    .header ul{
        display: none;
    }
    .header img {
        height: 20px;
        width: 20px;
        display: inline;
}

@media (min-width:600px) and (max-width:899px) {
    .grid-container{
        grid-template:
         "header header" 100px
        "navbar navbar" 50px
        "sidebar main" auto
        "footer footer" 100px/
        200px auto;
    }
    .header img {
        display: none;
    }
}



@media (min-width:900px) {
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar main sidebar" auto
        "footer footer footer" 100px/
        200px auto 200px;
    }
    .header img {
        display: none;
    }
}
}
